:root {
    --foreground: #cdd6f4;
    --background: #181824;
    --primary-color-1: var(--dark, #0e0e0e) var(--light, #fbfbfb);
    --primary-color-2: var(--dark, #0a0a0a) var(--light, #fff);
}

@font-face {
    font-family: "Caskaydia";
    src: url("/assets/CaskaydiaMonoNerdFont-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body {
    /*background-color: #0f1116;*/
    background-color: var(--primary-color-2);
    color: var(--foreground);
    font-family: "Caskaydia", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    margin: 20px;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}
